body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; }

#app {
  padding: 0 16px; }
  #app h1 {
    font-weight: 600;
    font-size: 24px; }
  #app h2 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 8px; }
  #app nav {
    height: 60px;
    border-bottom: 2px solid #f8706c;
    display: flex;
    align-items: center;
    margin-bottom: 16px; }
  #app .activities .table-header {
    display: flex;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc; }
    #app .activities .table-header h3 {
      flex: 1;
      font-weight: 400; }
  #app .activities ul li {
    padding: 12px 16px;
    border-bottom: 1px solid #ccc;
    display: flex; }
    #app .activities ul li .activity-field {
      flex: 1; }
    #app .activities ul li:nth-child(even) {
      background-color: #f8f8f8; }
