// Sass variables
$border-color: #ccc;
$accent-color: #f8706c;
$text-color: #444;

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: $text-color;
}

#app {
  padding: 0 16px;

  h1 {
    font-weight: 600;
    font-size: 24px;
  }

  h2 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 16px;
  }

  nav {
    height: 60px;
    border-bottom: 2px solid $accent-color;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .logo-section {
      flex: 1;
    }

    .nav-list {
      a {
        padding: 16px;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }

    a {
      text-decoration: none;
      font-weight: 400;
      color: $text-color;

      &.active {
        color: $accent-color;
      }
    }
  }

  .activity-charts {
    display: flex;

    .activity-chart-container {
      margin-bottom: 16px;
      flex: 1;

      canvas {
        //make the charts responsive
        width: 100% !important;
      }
    }
  }

  .filters-list {
    display: flex;
    margin-bottom: 16px;

    a {
      flex: 1;
      text-align: center;
      text-decoration: none;
      border-bottom: none;
      padding: 8px 0px;
      font-weight: 400;
      color: $text-color;

      &.active {
        border-bottom: 3px solid $accent-color;
        color: $accent-color;
      }
    }
  }

  .activities {
    .table-header {
      display: flex;
      padding: 12px 16px;
      border-bottom: 1px solid $border-color;

      h3 {
        flex: 1;
        font-weight: 400;
        font-size: 16px;
      }
    }

    ul {
      li {
        padding: 12px 16px;
        border-bottom: 1px solid $border-color;
        font-size: 14px;

        a {
          display: flex;
          text-decoration: none;
          color: $text-color;
        }

        .activity-field {
          flex: 1;
        }

        &:nth-child(even) {
          background-color: #f8f8f8;
        }
      }
    }
  }

  .transaction {
    .transaction-title {
      margin-bottom: 4px;
    }

    h3 {
      font-size: 18px;
      font-weight: 400;
      color: #777;
      margin-bottom: 12px;
    }

    p {
      margin-bottom: 8px;

      .value {
        font-weight: 400;
      }
    }
  }
}
