// variables
$border-color: #ccc;

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

#app {
  padding: 0 16px;

  h1 {
    font-weight: 600;
    font-size: 24px;
  }

  h2 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 8px;
  }

  nav {
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .activities {
    h2 {
      padding-left: 16px;
    }

    .table-header {
      display: flex;
      padding: 8px 16px;
      border-bottom: 1px solid $border-color;

      h3 {
        flex: 1;
        font-weight: 400;
      }
    }

    ul {
      li {
        padding: 12px 16px;
        border-bottom: 1px solid $border-color;
        display: flex;

        .activity-field {
          flex: 1;
        }

        &:nth-child(even) {
          background-color: #f8f8f8;
        }
      }
    }
  }
}
